<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoardController</servlet-name>
        <servlet-class>controller.DashBoardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserController</servlet-name>
        <servlet-class>controller.ChangeUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryManage</servlet-name>
        <servlet-class>controller.admin.CategoryManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandManage</servlet-name>
        <servlet-class>controller.admin.BrandManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager</servlet-name>
        <servlet-class>controller.admin.UserManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUser</servlet-name>
        <servlet-class>controller.admin.ChangeUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>controller.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopController</servlet-name>
        <servlet-class>controller.ShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>controller.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManager</servlet-name>
        <servlet-class>controller.admin.OrderManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeStatusOrder</servlet-name>
        <servlet-class>controller.admin.changeStatusOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrder</servlet-name>
        <servlet-class>controller.CancelOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaffController</servlet-name>
        <servlet-class>controller.admin.AddStaffController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoardController</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserController</servlet-name>
        <url-pattern>/ChangeUserController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>controller.admin.Dashboard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryManage</servlet-name>
        <url-pattern>/admin/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandManage</servlet-name>
        <url-pattern>/admin/brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager</servlet-name>
        <url-pattern>/admin/user-manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUser</servlet-name>
        <url-pattern>/admin/ChangeUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/resetpw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopController</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManager</servlet-name>
        <url-pattern>/admin/order-manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeStatusOrder</servlet-name>
        <url-pattern>/changeStatusOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrder</servlet-name>
        <url-pattern>/cancelOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaffController</servlet-name>
        <url-pattern>/admin/addStaff</url-pattern>
    </servlet-mapping>
</web-app>
